---
interface Props {
  name: string;
  url: string;
  isActive?: boolean;
}
const { name, url, isActive } = Astro.props;
const id = url.split("/").at(-2);
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<a
  href={`/pokemons/${name}`}
  transition:name={`image-${name}`}
  class:list={[
    `flex text-center flex-col justify-center items-center text-white p-2 hover:bg-slate-700 rounded-lg`,
    { border: !isActive },
  ]}
>
  <img src={imageSrc} alt={name} class="rounded-md w-fit" />
  <span class="capitalize mt-2">#{id} - {name}</span>
</a>
